<h1>Shipments Available for Delivery</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @shipments.each do |shipment| %>
    <tr>
      <td><%= shipment.source %></td>
      <td><%= shipment.destination %></td>
      <td><%= shipment.status %></td>
      <td>
        <%= link_to "Mark as In Transit", update_status_delivery_partner_path(shipment, status: "in_transit"), method: :patch %> |
        <%= link_to "Mark as Delivered", update_status_delivery_partner_path(shipment, status: "delivered"), method: :patch %>
      </td>
    </tr>
  <% end %>
</table>
