<h1>Create a New Shipment</h1>

<%= form_with model: @shipment do |f| %>
  <div>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>

  <div>
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </div>

  <%= f.submit "Create Shipment" %>
<% end %>
