<h2>Create a Shipment</h2>
<%= form_with model: @shipment, local: true do |f| %>
  <div>
    <%= f.label :source %>
    <%= f.text_field :source %>
  </div>
  <div>
    <%= f.label :target %>
    <%= f.text_field :target %>
  </div>
  <div>
    <%= f.submit "Create Shipment" %>
  </div>
<% end %>
